img {
  height: 20rem;
  position: relative;
  left: 100px;
  top: 500px;
  -webkit-animation-name: jump;
          animation-name: jump;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

body {
  background-image: url("../img/bg.png");
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

@-webkit-keyframes example {
  0% {
    background-position: -100px  0px;
  }
  40% {
    background-position: -1000px 0px;
  }
  60% {
    background-position: -3000px 0px;
  }
  90% {
    background-position: -4000px 0px;
  }
  100% {
    background-position: -6000px 0px;
  }
}

@keyframes example {
  0% {
    background-position: -100px  0px;
  }
  40% {
    background-position: -1000px 0px;
  }
  60% {
    background-position: -3000px 0px;
  }
  90% {
    background-position: -4000px 0px;
  }
  100% {
    background-position: -6000px 0px;
  }
}

@-webkit-keyframes jump {
  0% {
    top: 500px;
  }
  20% {
    top: 500px;
    left: 100px;
  }
  25% {
    top: 300px;
    left: 300px;
  }
  30% {
    top: 500px;
    left: 500px;
  }
  50% {
    left: 500px;
  }
  70% {
    top: 500px;
    left: 500px;
  }
  75% {
    top: 300px;
    left: 800px;
  }
  80% {
    top: 500px;
    left: 1000px;
  }
  100% {
    top: 500px;
    left: 1100px;
  }
}

@keyframes jump {
  0% {
    top: 500px;
  }
  20% {
    top: 500px;
    left: 100px;
  }
  25% {
    top: 300px;
    left: 300px;
  }
  30% {
    top: 500px;
    left: 500px;
  }
  50% {
    left: 500px;
  }
  70% {
    top: 500px;
    left: 500px;
  }
  75% {
    top: 300px;
    left: 800px;
  }
  80% {
    top: 500px;
    left: 1000px;
  }
  100% {
    top: 500px;
    left: 1100px;
  }
}
